<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>Welcome to My Blog</h1>

    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>

        <form method="get" action="{{ url_for('edit_post', post_id=post.id) }}">
            <button type="submit">Edit</button>
        </form>
        <form method="post" action="{{ url_for('delete_post', post_id=post.id) }}">
            <button type="submit">Delete</button>
        </form>
    </div>

    <a href="{{ url_for('read_root') }}">Back to Home</a>
</body>
</html>
